{% extends "base.html" %}

{% block content %}
        <style>
                h2 { text-align: center; }
                p { text-align: center; }
        </style>
        <i><h2>About Us</h2></i>
        <p><i><Welcome you have arrived at the ultimate game quiz site.<br>
        Dive into the world of gaming and test your gaming knowledge<br>
        with brain twisting and engaging quizzes!<br><br>
        Whether you're a casual gamer or a hardcore one we've got quizzes of all<br>
        difficulties to push and test your gaming knowledge!<br>
        Get ready to prove that you're <b>THE</b> ultimate gamer!</i></p>
</section>
{% endblock %}









