{% extends "base.html" %}

{% block content %}
<section class="quiz-section">
    <h2>Question {{ index }}</h2>
    <p>{{ question['question'] }}</p>

    <form method="POST">
        {% for option in question['options'] %}
        <div>
            <input type="radio" id="{{ option }}" name="option" value="{{ option }}" required>
            <label for="{{ option }}">{{ option }}</label>
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</section>
{% endblock %}
