{% extends "base.html" %}

{% block content %}
<section class="quiz-container-base easy-quiz-container">
    <h2>Question {{ index }}</h2>
    <!-- Ensure consistent image size -->
    <img src="{{ url_for('static', filename=question['image']) }}" alt="Quiz Image">
    <p>{{ question['question'] }}</p>
    <form method="POST">
        {% for option in question['options'] %}
        <div class="option-container">
            <input type="radio" id="{{ option }}" name="option" value="{{ option }}" required>
            <label for="{{ option }}">{{ option }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn">Submit</button>
    </form>
</section>
{% endblock %}
